  .footer__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: px-to-rem(48px);
    .navBrand{
      .logo{
        width: px-to-rem(140px);
      }
    }
    .navBar{
      .navBar__list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: px-to-rem(40px);
        .navBar__links{
            .link{
              color: $txt_color04;
              font-weight: 500;
              &:hover{
                text-decoration: underline;
              }
            }
        }
      }
    }
    .navBar__btn{
      display: flex;
      gap: px-to-rem(20px);
      .link{
        font-size: px-to-rem(18px);
        color: $txt_color02;
        font-weight: 500;
        background-color: $bg_color01;
        padding: px-to-rem(10px);
        border-radius: px-to-rem(10px);
        &:hover{
          background-color: rgba(255, 102, 0, 0.767);
          transition: ease-in 500ms;
        }
      }
    }
  }


// Estilos mobile 768px
@media  screen and (max-width:768px) {
  
}