@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body{
  max-width: 1440px;
  height: 100vh; 
}

.container{
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width:900px) {
  .container{
    width: 100%;
  }
}