/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FFFFFF #FF6600;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width:8px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #FF6600;
}

*::-webkit-scrollbar-track:hover {
  background-color: #FF6600;
}

*::-webkit-scrollbar-track:active {
  background-color: #FF6600;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FF6600;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FF6600;
}
