// background color
$bg_color01 : #FF6600;
$bg_color02: #FFFFFF;
$bg_color03 : #0B1B35;
$bg_color04: #000;
$bg_color05: #1E0E62;
$bg_color06: #0B1B35;

// text color
$txt_color01: #FF6600;
$txt_color02: #FFFFFF;
$txt_color03: #0B1B35;
$txt_color04: #000;
$txt_color05: #1E0E62;
$txt_color06: #0B1B35;
